<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-4">

                <div class="card" style="border-radius: 15px;">
                    <div class="card-body text-center">
                        <div>
                            <div class="d-flex flex-column align-items-center mt-3 mb-4">
                              <h2 class="tw-text-2xl tw-mb-10">Perfil</h2>
                              <img src="https://i.pinimg.com/736x/51/24/9f/51249f0c2caed9e7c06e4a5453c57857.jpg"
                                   class="rounded-circle img-fluid" style="width: 100px" />
                            </div>
                            <h4 class="mb-2 text-center">Monique</h4>
                            <p class="text-muted mb-4 text-center">Agencia: 0185<span class="mx-2">|</span>Conta: 1298-4</p>
                          </div>
                          

                        <button type="button" data-mdb-button-init data-mdb-ripple-init
                            class="btn btn-rounded btn-lg text-white tw-bg-paleta-cor1 tw-text-base" routerLink="/">
                            Atualização cadastral
                        </button>
                    </div>
                </div>
                <footer>
                    <p>Dúvidas? Acesse nossa <a href="" routerLink="/cliente-centralajuda">Central de Ajuda.</a></p>
                </footer>
            </div>
            
        </div>
    </div>
</section>