<section class="tw-container tw-flex tw-justify-center">
    <div class="tw-border tw-border-paleta-cor3 tw-rounded-lg tw-shadow-md tw-mx-8 tw-mt-8 tw-w-full tw-max-w-5xl">
        <div class="tw-py-4 tw-px-5">
            <div>
                <p class="tw-text-2xl tw-font-semibold tw-text-paleta-cor1 ">Saldo</p>
            </div>

            <div class="tw-flex tw-flex-col tw-items-center tw-pb-6">
                <span class="tw-text-[3.4rem] tw-font-semibold tw-text-paleta-cor1">R$150,00</span>
                <p class="tw-text-paleta-cor3">Saldo + Limite especial RS1.115,00</p>
            </div>


            <div class="tw-flex tw-flex-col tw-items-center">
                <p class="tw-font-medium tw-text-paleta-cor1">Adicione saldo via:</p>
                <div class="tw-p-3 mt-2 md:mt-6">
                    <a href="#"
                        class="tw-py-2 tw-px-4 tw-ms-2 tw-text-sm tw-font-medium tw-text-paleta-cor1 focus:tw-outline-none tw-bg-white tw-rounded-lg tw-border tw-border-paleta-cor3 hover:tw-bg-gray-100 hover:tw-text-paleta-cor1 tw-shadow-md">Pix</a>
                    <a href="#"
                        class="tw-py-2 tw-px-4 tw-ms-2 tw-text-sm tw-font-medium tw-text-paleta-cor1 group-focus:outline-none tw-bg-white tw-rounded-lg tw-border tw-border-paleta-cor3 hover:tw-bg-gray-100 hover:tw-text-paleta-cor1 tw-shadow-md tw-min-w-8">Transferência</a>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="tw-container tw-flex tw-justify-center">
    <div class="tw-mx-8 tw-w-full tw-max-w-5xl">
        <div class="tw-flex tw-justify-center tw-pt-6">
            <h2 class="tw-text-3xl tw-font-semibold tw-text-paleta-cor1">Movimentações</h2>
        </div>

        <div class="tw-flex tw-justify-between tw-items-center">
            <h5 class="tw-text-xl tw-font-medium tw-text-paleta-cor1">Hoje</h5>

            <button class="tw-py-2 tw-px-4 tw-ms-2 tw-text-sm tw-font-medium tw-text-white group-focus:outline-none tw-bg-paleta-cor1 tw-rounded-lg tw-border tw-border-paleta-cor3 hover:tw-bg-gray-100 hover:tw-text-paleta-cor1 tw-shadow-md tw-min-w-8">Extrair <br /> relatório</button>
        </div>

        <div class="tw-flex tw-flex-row tw-justify-between tw-p-4 tw-items-center tw-border tw-border-paleta-cor3 tw-rounded-lg tw-shadow-md tw-mt-3 tw-w-full tw-max-w-5xl">
            <div>
                <img src="" alt="" class="tw-basis-1/4">
                <p class="tw-basis-1/4 tw-font-semibold  tw-text-paleta-cor1">Pix - Recebido</p>
                <p class="tw-basis-2/4 tw-font-semibold tw-text-paleta-cor3">Emílio Celso</p>
            </div>
            <p class="tw-font-semibold">+ R$300,00</p>
        </div>
    </div>
</section>