<div class="tw-container tw-flex tw-flex-col tw-justify-center ">
    <div class="tw-w-full tw-flex tw-flex-col tw-p-4">
        <div
            class="tw-w-full tw-relative tw-bg-white tw-border tw-border-paleta-cor3 tw-rounded-lg tw-shadow-md tw-flex tw-flex-col tw-items-left tw-justify-left tw-p-8">
            <div class="tw-text-paleta-cor1 tw-font-semibold tw-text-2xl">
                Detalhes sobre a conta
            </div>
            <div class="tw-text-paleta-cor1 tw-font-semibold tw-text-4xl tw-my-4">
                Milena Semanaka
            </div>
            <div>
                <span class="tw-text-paleta-cor3 tw-font-semibold tw-text-2 tw-my-2 ">
                    Serviços adquiridos :
                </span>
                <span class="tw-text-paleta-cor3 tw-font-semibold tw-text-2 tw-my-2">
                    Conta especial
                </span>
            </div>
            <div>
                <span class="tw-text-paleta-cor3 tw-font-semibold tw-text-2 tw-my-2 ">
                    Gerente :
                </span>
                <span class="tw-text-paleta-cor3 tw-font-normal tw-text-2 tw-my-2">
                    Emilio
                </span>
            </div>
            <div>
                <span class="tw-text-paleta-cor3 tw-font-normal tw-text-2 tw-my-2 ">
                    Agência: 4597
                </span>
                <span class="tw-text-paleta-cor3 tw-font-normal tw-text-2 tw-my-2">
                    Emilio: 10002
                </span>
                <span class="tw-text-paleta-cor3 tw-font-normal tw-text-2 tw-m tw-m tw-pl-24">
                    02/01/2025 às 10:50
                </span>
            </div>
        </div>
    </div>
    <div class="tw-w-full tw-min-h-screen tw-flex-col tw-p-4">
        <div class="tw-w-full tw-bg-white tw-border tw-border-paleta-cor3 tw-rounded-lg tw-shadow-md tw-p-8">
            <div class="tw-text-paleta-cor1 tw-font-semibold tw-text-3xl">
                Dados cadastrados
            </div>
            <form class="tw-flex tw-w-full tw-gap-4 tw-items-start">
                <div class="tw-w-1/2 tw-flex tw-flex-col tw-p-4">
                    <div class="tw-text-paleta-cor1 tw-font-semibold tw-text-2xl tw-my-4">
                        Dados Pessoais
                    </div>
                    <app-input-adm label="Cpf" type="text" placeholder="Digite seu teste" name="Teste"></app-input-adm>
                    <app-input-adm label="Nome completo" type="text" placeholder="Digite seu teste"
                        name="Teste"></app-input-adm>
                    <app-input-adm label="Data de Nascimento" type="text" placeholder="Digite seu teste"
                        name="Teste"></app-input-adm>

                    <div class="tw-text-paleta-cor1 tw-font-semibold tw-text-2xl tw-my-4">
                        Contatos
                    </div>
                    <app-input-adm label="Telefone" type="text" placeholder="Digite seu teste" name="Teste"></app-input-adm>
                    <app-input-adm label="Email" type="text" placeholder="Digite seu teste" name="Teste"></app-input-adm>
                </div>

                <div class="tw-w-1/2 tw-flex tw-flex-col tw-p-4">
                    <div class="tw-text-paleta-cor1 tw-font-semibold tw-text-2xl tw-my-4">
                        Endereço
                    </div>
                    <app-input-adm label="Cep" type="text" placeholder="Digite seu teste" name="Teste"></app-input-adm>
                    <app-input-adm label="Logradouro" type="text" placeholder="Digite seu teste" name="Teste"></app-input-adm>
                    <app-input-adm label="Complemento" type="text" placeholder="Digite seu teste" name="Teste"></app-input-adm>
                    <app-input-adm label="Bairro" type="text" placeholder="Digite seu teste" name="Teste"></app-input-adm>
                    <app-input-adm label="Cidade" type="text" placeholder="Digite seu teste" name="Teste"></app-input-adm>
                    <app-input-adm label="UF" type="text" placeholder="Digite seu teste" name="Teste"></app-input-adm>
                </div>
            </form>

            <div class="tw-flex tw-justify-end tw-pr-10">
                <app-button-verde titulo="Salvar">
                </app-button-verde>

            </div>
        </div>


    </div>