<div class="tw-h-screen tw-overflow-y-auto">
    <section class="tw-container tw-min-h-screen tw-mx-auto tw-overflow-hidden tw-flex tw-flex-col">
        <!-- Cabeçalho -->
        <div class="tw-text-4xl tw-text-center tw-pt-10 tw-px-4 tw-mb-2 md:tw-mb-5 lg:tw-mb-5">
            <h1>
                Seu dinheiro mais seguro no <span class="tw-text-paleta-cor1 tw-pt-7">AvaBank</span>.
            </h1>
        </div>

        <!-- Container da Imagem ajustado -->
        <div class="tw-flex-1 tw-flex tw-items-center tw-justify-center tw-p-4 tw-h-[70vh] tw-min-h-[300px]">
            <img src="https://ik.imagekit.io/nmjihlqzv/start/Start.png?updatedAt=1738248700189"
                alt="Ilustração do Banco" class="tw-w-full tw-h-full tw-object-contain 
                tw-max-w-[90%] md:tw-max-w-[80%] lg:tw-max-w-[70%] 
                tw-max-h-[60vh] lg:tw-max-h-[75vh]" />
        </div>
    </section>

    <hr>

    <section
        class="tw-container tw-min-h-screen tw-mx-auto tw-overflow-hidden tw-flex tw-flex-col tw-items-center tw-text-center">
        <div class="tw-flex tw-justify-between tw-gap-28 tw-items-center">
            <h2 class="tw-text-4xl tw-pt-4 tw-text-paleta-cor1">
                Conheça o AvaBank
            </h2>
            <img src="https://ik.imagekit.io/nmjihlqzv/start/start%20_SobreN%C3%B3s%201%20-%20Woman%201%201.png?updatedAt=1738248699834"
                alt="">
        </div>

        <div class="tw-flex tw-items-center">
            <img src="https://ik.imagekit.io/nmjihlqzv/start/start%20_SobreN%C3%B3s%202%20-%20Woman%202%201.png?updatedAt=1738248699861"
                alt="">
            <p class="tw-text-4xl tw-pt-4 tw-text-paleta-cor1">O AvaBank oferece um portfólio completo de serviços
                financeiros para pessoas e negócios, com foco em segurança</p>
        </div>

        <div class="tw-flex tw-gap-16 tw-items-center">
            <p class="tw-text-4xl tw-pt-4 tw-text-paleta-cor1">
                Tudo o que você busca em um parceiro financeiro
            </p>
            <img src="https://ik.imagekit.io/nmjihlqzv/start/start%20_SobreN%C3%B3s%203%20-%20Coins.png?updatedAt=1738248700006"
                alt="">
        </div>
    </section>

    <hr>

    <section class="tw-container tw-min-h-screen tw-mx-auto tw-overflow-hidden tw-flex tw-flex-col">
        <div class="tw-text-4xl tw-text-center tw-pt-6 tw-px-4 tw-mb-2 md:tw-mb-5 lg:tw-mb-5">
            <h1>
                Nossos cartões para você aproveitar ainda mais:
            </h1>
        </div>

        <div class="tw-flex-1 tw-flex tw-items-center tw-justify-center tw-p-4 tw-h-[70vh] tw-min-h-[300px]">
            <img src="https://ik.imagekit.io/nmjihlqzv/start/start_SobreN%C3%B3s%204%20-%20Cart%C3%B5es.png?updatedAt=1738248700149"
                alt="Ilustração do Banco" class="tw-w-full tw-h-full tw-object-contain 
                tw-max-w-[90%] md:tw-max-w-[80%] lg:tw-max-w-[70%] 
                tw-max-h-[60vh] lg:tw-max-h-[75vh]" />
        </div>
    </section>
</div>