<nav class="container-fluid">

    <div class="d-flex flex-column flex-shrink-0 ps-3 text-white row flex-nowrap tw-bg-paleta-cor1" style="width: 280px;">

        <div class="sidebar col col-md-12 col-xl-12 px-sm-2 px-0">

            <div class="tw-flex flex-column align-items-center align-items-sm-start text-white min-vh-100 tw-w-full">
                <a href="" routerLink="/start"
                    class="tw-w-full tw-flex tw-justify-center tw-align-items-center tw-mt-3 tw-mb-md-0 tw-text-white tw-text-decoration-none">
                    <span class="tw-text-4xl tw-mb-10" [@fadeInUp]>Avabank</span>
                </a>

                <hr class="">

                <ul class="nav tw-nav-pills tw-flex-column tw-mb-auto tw-pt-8">
                    <li class="tw-pb-2">
                        <a href="#" class="nav-link rounded
                        tw-bg-white tw-text-paleta-cor1 tw-font-medium tw-text-2xl tw-py-3" aria-current="page" routerLink="/start" [@fadeInUp]>Sobre Nós</a>
                    </li>

                    <li class="tw-pb-2">
                        <a href="#" class="nav-link rounded
                        tw-bg-white tw-text-paleta-cor1 tw-font-medium tw-text-2xl tw-py-3" aria-current="page" routerLink="/cliente-login" [@fadeInUp]>Login Cliente</a>
                    </li>

                    <li class="tw-pb-2">
                        <a href="#" class="nav-link rounded
                        tw-bg-white tw-text-paleta-cor1 tw-font-medium tw-text-2xl tw-py-3" aria-current="page" routerLink="/adm-login" [@fadeInUp]>Administrador</a>
                    </li>
                </ul>
                <hr>
                <div class="pb-3">
                    <a href="" class="d-flex align-items-center text-dark text-decoration-none">
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>